{% if total_pages > 1 %}
<div class="flex justify-center items-center space-x-4 mt-8 mb-8">
    {% if has_prev %}
    <a href="/pinballs?page={{ prev_page }}{% if query %}&query={{ query }}{% endif %}{% if selected_manufacturer %}&manufacturer={{ selected_manufacturer }}{% endif %}{% if year_min %}&year_min={{ year_min }}{% endif %}{% if year_max %}&year_max={{ year_max }}{% endif %}"
        class="px-4 py-2 bg-medium-grey text-retro-cyan border border-retro-cyan hover:bg-retro-cyan hover:text-black transition-all duration-300">
        Previous
    </a>
    {% endif %}

    <span class="text-gray-300">
        Page {{ current_page }} of {{ total_pages }}
    </span>

    {% if has_next %}
    <a href="/pinballs?page={{ next_page }}{% if query %}&query={{ query }}{% endif %}{% if selected_manufacturer %}&manufacturer={{ selected_manufacturer }}{% endif %}{% if year_min %}&year_min={{ year_min }}{% endif %}{% if year_max %}&year_max={{ year_max }}{% endif %}"
        class="px-4 py-2 bg-medium-grey text-retro-cyan border border-retro-cyan hover:bg-retro-cyan hover:text-black transition-all duration-300">
        Next
    </a>
    {% endif %}
</div>
{% endif %}