<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pincrawl{% endblock %}</title>

    <!-- PWA Meta Tags -->
    <meta name="theme-color" content="#0D1117">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="PINCRAWL">
    <link rel="manifest" href="/dist/manifest.json">

    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
            appId: "494feae3-7f59-4ad7-8eda-84184cad366c",
            safari_web_id: "web.onesignal.auto.1b1338f0-ae7a-49c0-a5a1-0112be9b9bea",
        });
    });
    </script>
    <link rel="stylesheet" href="/dist/css/main.css">
    <link rel="icon" type="image/png" href="/dist/favicon.ico">
</head>
<body class="font-retro text-white bg-dark-grey">
{% block content %}{% endblock %}
<script type="module" src="/dist/js/main.js"></script>
</body>
</html>